/*less编译后结果*/
.box {
  color: green;
}
.box1 {
  color: green;
  line-height: 2em;
}
.box2 {
  color: green;
  line-height: 3em;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  background: #ffcccc;
}
.wrapper .nav {
  /* mixin复用样式部分 */
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* mixin复用样式部分 */
}
.wrapper .content {
  /* mixin复用样式部分 */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* mixin复用样式部分 */
}
.wrapper .content:hover {
  background: red;
}
